﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Display_Page.aspx.cs" Inherits="Learning_2_DataBase.WebForm2" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
        </div>
        <asp:Button ID="Button1" runat="server" OnClick="Button1_Click" Text="Display Data" />
&nbsp;&nbsp;&nbsp;
        <asp:Button ID="Button2" runat="server" OnClick="Button2_Click" Text="Go Back" />
    </form>
</body>
</html>
